{% extends "base.html" %}
{% load static %}
{% block title %}Друзья{% endblock %}

{% block content %}
    <style>
        .user-username {
            font-size: 20px;
        }
    </style>
    <h1>Список пользователей:</h1>
    <form id="myform" method="post">
        {% csrf_token %}
        {% for profile in object_list %}
            {% with username=profile.user.username %}
                <a href="{% url 'profile' username %}"><p class="user-username">{{username}}</a>
            {% endwith %}
        {% endfor %}
    </form>
{% endblock %}
